{% include 'header.htm' %}
<div class="reg-form">
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
<form class="regestration" action="{{url_for('regestration')}}" method="post" class="form-contact">
    <p><label></label><input type="text" name="name" placeholder="Имя/фамилия" value="" required />
    <p><label></label><input type="text" name="username" placeholder="Логин" value="" required />
    <p><label></label><input type="text" name="password" placeholder="Пароль" value="" required />
    <p><label></label><input type="text" name="password2" placeholder="Повторите пароль" value="" required />
    <p><input type="submit" value="Зарегестрироваться"/>
</form>
</div>
{% include 'footer.htm' %}