{% include 'header.htm' %}
{% if current_user.get_role() == 1 %}
<p><a href="{{ url_for('profile') }}" class="back-link">Назад</a></p>
{% endif %}
{% if current_user.get_role() == 0 %}
<p><a href="{{ url_for('logout') }}" class="lg-out">Выйти из профиля</a></p>
{% endif %}
<div class="container">
<p class="h">Профиль пользователя</p>
<p class="user-name">Имя: {{ user_info['name'] }}</p>
<p class="user-name">Логин: {{ user_info['username'] }}</p>
{% if current_user.get_role() == 1 %}
<p class="user-name"><a href="{{ url_for('add_lesson', user_id=user_info['id']) }}" class="btn-primary">Добавить урок</a></p>
<p class="user-name"><a href="{{ url_for('lessons', user_id=user_info['id']) }}" class="btn-primary">Задания пользователя</a></p>
{% endif %}
{% if current_user.get_role() == 0 %}
<p class="post_summery"><a href="{{ url_for('lessons', user_id=user_info['id']) }}" class="btn-primary">Мои задания</a></p>
{% endif %}
</div>
{% include 'footer.htm' %}